body {
  font-family: Helvetica;
}

.header h2{
  padding-top: 4px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header h3{
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header {
  margin-top: -0.7%;
  margin-bottom: 0%;
  margin-right: 0%;
  max-width: 100%;
  background-color: #779ecb;
  text-align: center;
  height: 12%;
}

.timetable {
  position: fixed;
  display: grid;
  width: 85.5%;
  margin-left: 13%;
  height: auto;
  grid-template-columns: 1fr 2fr 3fr;
  color: #666;
  text-align: center;
  border-right: 1px solid #666;
}

.columntitle h4 {
  margin: 6px 6px;
  text-transform: uppercase;
  color: #666;
}

.midcontent {
  width: 65.5%;
  margin-top: 18%;
  margin-left: 20%;
}

.midcontent h2{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #666;
  z-index: 1;
}

.midcontent img {
  position: relative;
  margin-top: -10%;
  text-align: center;
  padding: 5%;
  border-radius: 50%;
  background: lightpink;
  z-index: 0;
}

.columntitle{
  position: relative;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  background-color: #eee;
}

.timetablebody h5 {
  margin: 3px 3px;
  text-transform: uppercase;
}

.timetablebody {
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
}

.timetablebody button{
  float: right;
  margin-top: -18px;
  margin-right: 15px;
  margin-bottom: 2px;
  position: relative;
  cursor: pointer;
  width: auto;
  background-color: #eee;
}

.timetablebody button:hover {
  opacity: 0.6;
}

.button-image{
  max-width: 60px;
  padding: 5px;
}

.container img {
  border-radius: 50%;
  max-width: 60px;
  padding: 5px;
}

.secondboxes{
  position: fixed;
}

#navigationbar{
  max-width: 100%;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
  height: 100%;
}

#navigationbar a {
  background-color: #eee;
  color: #666;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 2px solid #666;
  text-align: center;
  font-size: 20px;
}
#blue a {
  background-color: lightblue;
}
#navigationbar a:hover {
  background-color: #ccc;
}

.chat {
  z-index: 1;
  bottom: 0%;
  position: fixed;
  margin-left: 79%;
  max-width: 20%;
  border: 2px solid #666;
  overflow-y: scroll;
  height: 70%;
}

.chat button:hover {
  cursor: pointer;
  background: lightblue;
}

.container {
    border: 2px solid #A0A0A0;
    background-color: #f1f1f1;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 5px;
}

#dark {
  border: 2px solid #779ecb;
  background-color: #E4F6F8;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.chat h3{
  text-align: center;
  padding-top: 4px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.chat h4{
  text-align: center;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #666;
}

.emoji {
  text-align: center;
}

.chat-header {
  background-color: #779ecb;
  margin-top: -15px;
}

.time {
  margin-top: -10px;
}

#left {
  float: left;
  color: #666;
}

#right {
  float: right;
  color: #666;
}

.box {
  position: relative;
  width: 50%;

}
#image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: lightsteelblue;
  border-radius: 50%;

}

.box:hover .overlay {
  opacity: 0.6;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#mood h2,h4 {
    text-align: center;
}

#mood h2 {
    font-family: sans-serif;
    font-size: 60px;
    background-color: lightpink;
    padding: 20px;
    margin: 30px;
}

#mood {
    padding:20px;
    background-color: lightcyan;
}

.mood-container {
  width: 60%;
  margin-left: 15%;
  margin-top: 14%;
  background-color: lightgoldenrodyellow;
}

* {
    box-sizing: border-box;
}

.box {
    padding: 0 6px;
    float: left;
    width: 25%;
    background-color: lightgoldenrodyellow;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.storyflex {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

#storyboxes {
  height:150px;
}

.footer {
  display:flex;
  justify-content: center;
  align-items: center;
}

#arrow1 {
  padding-right: 20px;
}

#arrow2 {
  padding-left: 20px;
}

/* spør imorgen
.lang-header {
  max-width: 1000px;
  width: 60%;
  margin-left: 15%;
  margin-top: 15%;
  position: relative;
}
*/

.slideshow-container {
  max-width: 1000px;
  width: 60%;
  margin-left: 15%;
  margin-top: 14%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/8 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
