body{
  background-color:#fff;
  margin: 0;
  padding: 0;
}

.background{
  background: url("animals1.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  opacity: 0.9;
  height: 100%;

}
#navigationbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff8533;
  position:fixed;
  align-items: center;
  height: 5%;
  width:100%;
  z-index: 1;

}
#navigationbar li {
  display:inline-block;
  float: Left;
}
#navigationbar li a{
  display: block;
  color: black;
  font-weight:bold;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

#navigationbar li a:hover{
  color:black;
  background-color:white;
}

.home{
  opacity: 0.7;
}
.login{
  float: right !important;
}

.signin-box{
  max-width:330px;
  max-height:600px;
  background:#f3f3f3;
  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding:60px 42px;
}
.avatar{
  width:100px;
  height:100px;
  border-radius:50%;
  position:absolute;
  top:-10%;
  left: calc(50% - 50px);
}
h1{
  text-align:center;
}
.signin-box p{
  font-weight:bold;
}
.signin-box input{
  width:240px;
  margin-bottom:20px;
}
.signin-box input[type="submit"]{
  width: 100%;
  padding: 10px;
}
.signin-box a:hover{
 color:blue;
}
