body {
  font-family: Helvetica;
}

.header h2{
  padding-top: 4px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header h3{
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header {
  margin-top: -13px;
  margin-bottom: -10px;
  margin-right: 5px;
  max-width: 100%;
  background-color: #779ecb;
  text-align: center;
}

.timetable {
  position: fixed;
  display: grid;
  width: 90%;
  margin-left: 9%;
  height: auto;
  grid-template-columns: 1fr 2fr 3fr;
  color: #666;
  text-align: center;
  border-right: 1px solid #666;
}

.columntitle h4 {
  margin: 6px 6px;
  text-transform: uppercase;
  color: #666;
}

.columntitle{
  position: relative;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  background-color: #eee;
}

.timetablebody h5 {
  margin: 3px 3px;
  text-transform: uppercase;
}

.timetablebody {
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
}

.timetablebody button{
  float: right;
  margin-top: -18px;
  margin-right: 15px;
  margin-bottom: 2px;
  position: relative;
  cursor: pointer;
  width: auto;
  background-color: #eee;
}

.timetablebody button:hover {
  opacity: 0.6;
}

.button-image {
  max-width: 60px;
  padding: 5px;
}

.container img {
  border-radius: 50%;
  max-width: 60px;
  padding: 5px;
}

.secondboxes{
  position:  fixed;
}

#navigationbar{
  max-width: 250px;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
  height: 100%;
}

#navigationbar a {
  background-color: #eee;
  color: #666;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 2px solid #666;
  text-align: center;
  font-size: 20px;
}
#blue a {
  background-color: lightblue;
}
#navigationbar a:hover {
  background-color: #ccc;
}

.chat {
  margin-top: 200px;
  position: fixed;
  margin-left: 79%;
  max-width: 300px;
  border: 2px solid #666;
  overflow-y: scroll;
  height: 430px;
}

.chat button:hover {
  cursor: pointer;
  background: lightblue;
}

.container {
    border: 2px solid #A0A0A0;
    background-color: #f1f1f1;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 5px;
}

#dark {
  border: 2px solid #779ecb;
  background-color: #E4F6F8;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.chat h3{
  text-align: center;
  padding-top: 4px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.chat h4{
  text-align: center;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #666;
}

.chat-header {
  background-color: #779ecb;
  margin-top: -15px;
}

.time {
  margin-top: -10px;
}

#left {
  float: left;
  color: #666;
}

#right {
  float: right;
  color: #666;
}
